@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #0b0f19;
}

.dark {
  --bg: #0b0f19;
  --fg: #ffffff;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}